@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    font-family: 'Onest', sans-serif;
    font-weight: 500;
}

.bg-girls {
    background-image: url("assets/19-12-242-brands-1-girls-min-data.jpg");
    background-size: cover;
}

.bg-map {
    background-image: url("assets/freepik__enhance__61168.jpeg");
    background-position: center;
    background-size: 120%;
}

.bg-boys {
    background-image: url("assets/cwa.avif");
    background-size: cover;
}

.main-event {
    display: flex
;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: rgba(248, 249, 251, 0.96);
    border: 1px solid #ebeef3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px;
}
.main-news__item {
    flex: 0 0 auto;
    padding: 15px;
}

.main-news-card__text {
    color: #6B7A99;
    font: 400 1em / 1.25 "HSE Sans", Arial, sans-serif;
    margin: .5em 0 0;
}

.main-event__dates {
    display: inline-flex
;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    font: 600 1em / 1.25 "HSE Sans", Arial, sans-serif;
    margin: 0 0 1em;
}

.main-event__date {
    display: flex
;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #FF5A43;
    border-radius: 5px 5px 0px 0px;
    width: 28px;
    height: 30px;
    box-shadow: 0px 8px 24px rgba(15, 30, 104, 0.08), 0px 2px 4px rgba(15, 30, 104, 0.04);
    flex: 0 0 auto;
    box-sizing: border-box;
}

.main-event__dates > * {
    margin-right: 8px;
}

.main-event__title {
    font: 600 1em / 1.4 "HSE Sans", Arial, sans-serif;
    color: #39407b;
    margin: 0;
    padding: 0;
}

.marquee__wrap {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    color: #fff;
    background: linear-gradient(64deg, #43d0ff, #1E3A8A, #60A5FA);
    padding: 5px 0;
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    cursor: pointer;
    overflow: hidden;
}

.stroke__content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
}

.stroke__ico {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.stroke__content.img {
    width: 4.2em;
}

.stroke__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-right: 0.75rem;
}
